//- Required components 
logger(curr="{{ currentPage }}")
aktos-dcs(transport-id="{{dcs.transportId}}")


h2.ui.centered.top.attached.block.header Hello Omron!
.ui.top.attached.segment 
    .ui.form 
        .fields
            .field 
                label Address 
                input(value="{{address}}")

            .field 
                label Value to write 
                input(value="{{state}}")
                    
            .field
                label button 
                ack-button(on-click="write") Send Value

            .field
                label toggle 
                ack-button(on-click="toggleValue") Toggle Value ({{boolstate}})

        .fields
            .field 
                label Address 
                input(value="{{address}}")

            .field 
                label size
                input(value="{{size}}")
        
            .field
                label button 
                ack-button(on-click="read") Read
                
            .field 
                label Read Response 
                textarea(value="{{readResponse}}")
    


.ui.segment
    pre.
        MemoryAreas = {
            'E'  : 0xA0,//Extended Memories
            'C'  : 0xB0,//CIO
            'CB' : 0x30,//CIO reading in bit
            'W'  : 0xB1,//Work Area
            'WB' : 0x31,//Work Area reading in bit
            'H'  : 0xB2,//Holding Bit
            'HB' : 0x32,//Holding Bit reading in bit
            'A'  : 0xB3,//Auxiliary Bit
            'AB' : 0x33,//Auxiliary Bit reading in bit
            'D'  : 0x82,//Data Memories
            'DM' : 0x02//Data Memories reading in bit
        }