//- Required components 
logger(curr="{{ currentPage }}")
aktos-dcs(transport-id="{{dcs.transportId}}")


h2.ui.centered.top.attached.block.header Hello Omron!
.ui.top.attached.segment 
    .ui.form 
        .fields
            .field 
                label Address 
                input(value="{{address}}")

            .field 
                label Value to write 
                input(value="{{state}}")
                    
            .field
                label button 
                ack-button(on-buttonclick="toggleRelay") Send Value

        .fields
            .field 
                label Address 
                input(value="{{address}}")

            .field 
                label size
                input(value="{{size}}")
        
            .field
                label button 
                ack-button(on-buttonclick="read") Read
                
            .field 
                label Read Response 
                textarea(value="{{readResponse}}")
    
